<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "icon" href = "https://i.ibb.co/Dfy2RXt/download-removebg-preview.png" type = "image/x-icon">
    <title>Statistics</title>
    <style>
        .tbl{
            padding: 5px;
            margin: 5px;
        }
        th{
            padding: 10px;
            margin: 5px;
            border-bottom: 2px solid black;
        }
        td{
            padding: 10px;
            margin: 5px;
        }
        table{
            border: black solid 2px;
            border-radius: 20px;
        }
        tr:nth-child(even) {
            background-color: #D6EEEE;
        }
        .flex-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>

<body>
    <div class="flex-container">
        <table class="tbl" >
            <tr>
    
                <th>
                    birth date
                </th>
                <th>
                    city
                </th>
                <th>
                    author name
                </th>
                <th>
                    subject or book name
                </th>
            </tr>
    
            <% readers.forEach(reader => { %>
                <% var auth = authors.filter(author => {author.reader_id == reader._id}) %>
                <tr>
                    <td rowspan=<% auth.length %> >
                        
                        <%= reader.birth %>
                    </td>
                    <td rowspan=<% auth.length %>>
                        <%= reader.city %>
                    </td>
                    <td>
                        <% authors.forEach(author => { %>
                            <% if(reader._id==author.reader_id){ %>
                                    <%= author.author_name %>
                                    <br>
                                    <% } %>
                                    <% }) %>
                                </td>
                                <td>
                    <% subjects.forEach(subject => { %>
                        <% if(reader._id==subject.reader_id){ %>
                                <%= subject.subject_name %>
                                <br>
                                <% } %>
                                <% }) %>
                            </td>
                </tr>
        
           <% }) %>
            
        </table>
      
    </div>
    
</body>

</html>