<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "icon" href = "https://i.ibb.co/Dfy2RXt/download-removebg-preview.png" type = "image/x-icon">
    <title>Statistics</title>
    <style>
        .tbl{
            padding: 5px;
            margin: 5px;
        }
        th{
            padding: 10px;
            margin: 5px;
            border-bottom: 2px solid black;
            width: auto;
        }
        td{
            padding: 10px;
            margin: 5px;
            width: auto;
        }
        table{
            border: black solid 2px;
            border-radius: 20px;
        }
        tr:nth-child(even) {
            background-color: #D6EEEE;
        }
        .flex-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>

<body>
    <div class="flex-container">
        <table class="tbl" >
            <tr>
    
                <th>
                    birth date
                </th>
                <th>
                    city
                </th>
                <th>
                    author name
                </th>
                <th>
                    subject or book name
                </th>
            </tr>
    
            <% readers.forEach(reader => { %>
                
                <tr>
                    <td>
                        <%= reader.birth %>
                    </td>
                    <td>
                        <%= reader.city %>
                    </td>
                    <td>
                        <%= reader.author %>
                    </td>
                    <td>
                        <%= reader.subject %>
                    </td>
                        
                </tr>
        
           <% }) %>
            
        </table>
      
    </div>
    
</body>

</html>